/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.tools_page_boldgrid-theme-grep .CodeMirror {
    height: fit-content;
    margin-bottom:15px;
    border: 1px solid #bbb;
    border-top:0;
}

.tools_page_boldgrid-theme-grep .CodeMirror-lines {
	border-top:1px solid #ddd;
}

.CodeMirror-gutters {
	display: none;
}

.bgthgr-heading {
	background: #ddd;
    font-family: monospace;
    font-size: .9em;
    padding: 10px 5px;
}

.bgthgr-grep .bgthgr-heading,
.bgthgr-grep .CodeMirror-gutters {
	background: #23282d;
    color: #eee;
}

.bgthgr-heading .dashicons-arrow-down-alt2,
.bgthgr-heading .dashicons-arrow-up-alt2 {
	cursor: pointer;
}

.tools_page_boldgrid-theme-grep h2 {
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}

.tools_page_boldgrid-theme-grep h3 {
	margin-top: 25px;
	margin-bottom: 10px;
}

h2 a .dashicons,
h3 a .dashicons,
.bgthgr-heading a .dashicons {
	text-decoration: none;
}

.bgthgr-file-container {
	border: 1px solid #bbb;
	margin: 15px 0;
}

.bgthgr-file-container .CodeMirror {
	margin-bottom: 0;
	border: 0;
}

.bgthgr-code {
	background: #fff;
    font-family: monospace;
    padding: 5px;
    white-space: pre-wrap;
}

.bgthgr-code-highlight {
	background: #ffcccc;
    color: #cc0000;
    font-weight: bold;
}

.bgthgr-sticky-notice .notice {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.4);
	left: 161px;
	right: 0px;
	width: auto !important;
}

/* The container of the shell command. */
.bgthgr-cmd-container {
	border: 1px solid #ddd;
	margin-bottom: 7px;
}

.bgthgr-cmd-container .bgthgr-cmd-heading {
	background: #ddd;
	padding: 5px;
	margin: 0;
}

.bgthgr-section-container {
	margin-top: 50px;
}

.bgthgr-item-container {
	margin: 50px 0;
}

.bgthgr-pill {
	background: #32373c;
    color: #fff;
    border-radius: 16px;
    padding: 0 9px 2px 9px;
}

.bgthgr-item-heading {
	font-size: .85em;
	margin-top: 0;
}

.bgthgr-section-container .bgthgr-rule-container {
	font-size: 1.2em;
	color: #000;
	margin: 15px 0;
}